@import "bootstrap";
@import "bootstrap-responsive"; 

.container {
	margin: 10px;
}

.drink {
	img { max-width: 100%; }
}


label {
	font-size: 14px;
	font-weight: bold;
}

.question{
	margin: 20px 0;
	.btn{
		margin: 10px 0;
		padding: 10px;
		&.active {
			background-color: #5BB75B;
			color: #fff;
		}
	}
}

.btn.active{
}

.radio {
	display: block;
	font-size: 14px;
	font-weight: bold;
	input[type="radio"] {
		 position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); 
	}
}